@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Geom", sans-serif;
}

*::-webkit-scrollbar {
  @apply w-2 appearance-none
}

*::-webkit-scrollbar-thumb {
  @apply w-1.5 rounded-3xl bg-green-700
}

*::selection {
  @apply bg-green-600 text-white
}

body {
  background-color: black;
}

@layer base {
  link {
    @apply cursor-pointer
  }
  button {
    @apply cursor-pointer
  }
}

input[type="checkbox"] {
    @apply accent-green-500 border-none outline-none
}