@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Geom", sans-serif;
}

body {
  background-color: black;
}

@layer base {
  link {
    @apply cursor-pointer
  }
}